h1, h2{
    text-align: center;
    padding-top: 20px;
}

.wrapper{
    text-align: center;
    padding-top: 2px;
    justify-content: center;
    align-items: center;
}

.info p{
    padding-top: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Center text horizontally */
}
