img {
    border-radius: 10px;
    height: 400px;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.163); /* Adjust the color and size as needed */
}

div.image{
    text-align: center;
    left: auto;
    right: auto;
    padding-top: 30px;
}

.container p{
    padding-top: 1%;
    text-align: center;
}
h1, h2{
    text-align: center;
    padding-top: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Center text horizontally */
}
