li{
    padding-bottom: 2%;
}

div.container{
    width: 100%;
    padding-bottom: 20px;
    border-color: hsl(0, 0%, 25%);
}

div.left-sub-container {
    width: 100%;
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
}
div.right-sub-container {
    width: 100%;
    padding-right: 5%;
    padding-top: 3%;
    display: flex;
}
/* images */
img{
    border-radius: 5px;
    max-width: 500px; /* Adjust to your desired maximum width */
    max-height: 320px; /* Adjust to your desired maximum height */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.163); /* Adjust the color and size as needed */
}
a.project-image-left{
    border-radius: 5px;
    max-width: 500px; /* Adjust to your desired maximum width */
    max-height: 320px; /* Adjust to your desired maximum height */
}
a.project-image-right{
    border-radius: 5px;
    max-width: 500px; /* Adjust to your desired maximum width */
    max-height: 320px; /* Adjust to your desired maximum height */
}

div.left-list{
    text-align: left;
    font-size: 140%;
    padding-left: 3%;
    padding-right: 5%;
}
div.right-list{
    text-align: left;
    font-size: 140%;
    padding-left: 5%;
}

p.p-left{
    padding-top: .5%;
    padding-left: 5%;
    padding-bottom: 3%;
    text-align: left;
    border-bottom: 2px solid hsl(0, 0%, 25%); /* Add a border style */
}
p.p-right{
    padding-top: .5%;
    padding-right: 70px;
    padding-bottom: 1%;
    text-align: right;
    border-bottom: 2px solid hsl(0, 0%, 25%); /* Add a border style */
}


div.project-title{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding-top: 2%;
    text-decoration: underline;
}
h2{
    text-align: left;
    font-size: 25px;
    margin-bottom: 1%;
    text-decoration: underline;
}
@media (max-width: 1090px) {
    div.container {
        border-color: hsl(0, 0%, 25%);
        border-bottom: 1px solid hsl(0, 0%, 25%); /* Add a border style */
        text-align: center;
    }
    div.left-sub-container {
        flex-direction: column; /* Display items in a column layout */
        align-items: center; /* Center items horizontally */
    }
    div.right-sub-container {
        flex-direction: column; /* Display items in a column layout */
        align-items: center; /* Center items horizontally */
    }
    div.left-list {
        display: none;
    }
    h2 {
        display: none;
    }
    p.p-left {
        padding-top: .5%;
        padding-left: 5%;
        text-align: center;
    }
    p.p-right {
        padding-top: .5%;
        padding-left: 5%;
        text-align: center;
    }
}